Source: mdm-themes
Section: x11
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: mdm-themes
Architecture: all
Description: Default MDM Themes
 Themes for the MDM display manager.

